<nav>
	<li>
		{{#linkTo 'index'}}
		  Home
		{{/linkTo}}
	</li>
	<li>
		{{#linkTo 'about'}}
		  About
		{{/linkTo}}
	</li>	
	<li>
		{{#linkTo 'userOwnership'}}
		  My Items
		{{/linkTo}}
	</li>
  <li>
    {{#linkTo 'item'}}
    Item
    {{/linkTo}}
  </li>
</nav>