<h2>My Items</h2>

<p class="error">{{error}}</p>
<section id="lists">
  {{controller}}
  {{#each controller}}
  {{controller}}
  {{#view App.UserOwnershipView}}
  {{id}}
  {{/view}}
  {{/each}}

</section>