@model dynamic
<h1>Welcome to Lending!</h1>
<h3>Please select an authentication method below</h3>
<form action="http://localhost:61414/api/auth/googleopenid" method="POST">
    <input type="submit" value="Google"/>
</form>
<form action="http://localhost:61414/api/auth/yahooopenid" method="POST">
    <input type="submit" value="Yahoo"/>
</form>
