@model dynamic
<h1>Welcome to Lending!</h1>
<h3>Please select an authentication method below</h3>
<form action="api/auth/twitter" method="POST">
    <input type="submit" value="Twitter"/>
</form>
<form action="api/auth/facebook" method="POST">
    <input type="submit" value="Facebook"/>
</form>
<form action="api/auth/GoogleOAuth" method="POST">
    <input type="submit" value="GoogleOAuth"/>
</form>
<form action="api/auth/linkedin" method="POST">
    <input type="submit" value="LinkedIn"/>
</form>
