<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetOpenAuth.Ultimate" version="4.3.4.13329" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc.FixedDisplayModes" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20715.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Npgsql" version="2.0.14.3" targetFramework="net45" />
  <package id="ServiceStack" version="3.9.71" targetFramework="net45" />
  <package id="ServiceStack.Authentication.OAuth2" version="3.9.71" targetFramework="net45" />
  <package id="ServiceStack.Authentication.OpenId" version="3.9.71" targetFramework="net45" />
  <package id="ServiceStack.Common" version="3.9.71" targetFramework="net45" />
  <package id="ServiceStack.Host.Mvc" version="3.9.71" targetFramework="net45" />
  <package id="ServiceStack.Mvc" version="3.9.14" targetFramework="net45" />
  <package id="ServiceStack.OrmLite.SqlServer" version="3.9.14" targetFramework="net45" />
  <package id="ServiceStack.Redis" version="3.9.71" targetFramework="net45" />
  <package id="ServiceStack.Text" version="3.9.71" targetFramework="net45" />
  <package id="structuremap" version="2.6.4.1" targetFramework="net45" />
  <package id="WebActivator" version="1.5.3" targetFramework="net45" />
</packages>