<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EventStore.Client" version="3.3.1" targetFramework="net45" />
  <package id="EventStore.Client.Embedded" version="3.2.1" targetFramework="net45" />
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Testing" version="3.0.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="NHibernate" version="3.3.1.4000" targetFramework="net45" />
  <package id="Npgsql" version="3.0.5" targetFramework="net461" />
  <package id="NUnit" version="3.4.1" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="structuremap" version="4.0.1.318" targetFramework="net45" />
</packages>