<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
<connectionStrings>
  <add name="lender_db" connectionString="Server=127.0.0.1;Port=5432;Database=dev;User Id=lender_test;
Password=lender;"/>
</connectionStrings>

<appSettings>
  <add key="lender_db_schema" value="lender_test"/>
</appSettings>
</configuration>