<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EventStore.Client" version="3.3.1" targetFramework="net45" />
  <package id="EventStore.Client.Embedded" version="3.2.1" targetFramework="net45" />
  <package id="FluentMigrator" version="1.6.2" targetFramework="net461" />
  <package id="FluentMigrator.Tools" version="1.6.2" targetFramework="net461" />
  <package id="FluentNHibernate" version="1.4.0.0" targetFramework="net45" />
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net45" />
  <package id="JWT" version="1.3.4" targetFramework="net45" />
  <package id="LightBDD" version="1.7.2.0" targetFramework="net461" />
  <package id="LightBDD.Core" version="1.7.2.0" targetFramework="net461" />
  <package id="LightBDD.NUnit3" version="1.7.2.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Testing" version="3.0.1" targetFramework="net45" />
  <package id="Nancy" version="1.4.3" targetFramework="net45" />
  <package id="NCrunch.Framework" version="1.45.0.11" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net461" />
  <package id="NHibernate" version="3.3.1.4000" targetFramework="net45" />
  <package id="Npgsql" version="3.0.5" targetFramework="net461" />
  <package id="NUnit" version="3.4.1" targetFramework="net461" />
  <package id="NUnit.ConsoleRunner" version="3.4.1" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.4.1" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.4.1" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.4.1" targetFramework="net461" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.1" targetFramework="net461" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.4.1" targetFramework="net461" />
  <package id="NUnit.Runners" version="3.4.1" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="RestSharp" version="105.2.3" targetFramework="net461" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net45" />
  <package id="Shouldly" version="2.8.2" targetFramework="net461" />
  <package id="SimpleAuthentication.Core" version="0.6" targetFramework="net45" />
  <package id="structuremap" version="4.0.1.318" targetFramework="net45" />
  <package id="structuremap.web" version="3.1.6.186" targetFramework="net45" />
</packages>