<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentNHibernate" version="1.4.0.0" targetFramework="net45" />
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net45" />
  <package id="NCrunch.Framework" version="1.45.0.11" targetFramework="net45" />
  <package id="NHibernate" version="3.3.3.4001" targetFramework="net45" />
  <package id="Npgsql" version="2.0.14.3" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net45" />
  <package id="ServiceStack" version="3.9.71" targetFramework="net45" />
  <package id="ServiceStack.Common" version="3.9.71" targetFramework="net45" />
  <package id="ServiceStack.OrmLite.SqlServer" version="3.9.14" targetFramework="net45" />
  <package id="ServiceStack.Redis" version="3.9.71" targetFramework="net45" />
  <package id="ServiceStack.Text" version="3.9.71" targetFramework="net45" />
</packages>