<div ng-controller="libraryController">
    <br/><br/><br/><br/>
    <h3>My Libraries</h3>
    <div ng-if="libraries.length" ng-repeat="library in libraries">
        {{library.name}}<br/>
    </div>
    <div ng-if="!libraries.length">
        You currently don't have any open libraries. Click to Open a Library.<br/>
        <form>
            Name of your Library: <input type="text" ng-model="libraryName" /><br />
            <button ng-click="openLibrary(libraryName)">Open New Library</button>
        </form>
    </div>
</div>