<div ng-controller="userItemsController">
    <h3>My Items</h3>
    <div>
        <table>
            <thead>
                <th>
                    Title
                </th>
                <th>
                    Creator
                </th>
                <th>
                    Edition
                </th>
                <th></th>
            </thead>
            <tbody >
                <tr ng-repeat="ownership in userItems">
                    <td>
                        {{ownership.item.title}}
                    </td>
                    <td>
                        {{ownership.item.creator}}
                    </td>
                    <td>
                        {{ownership.item.edition}}
                    </td>
                    <td>
                        <a href="" ng-click="delete(ownership)">Remove</a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <br/>
    <div>
        Add via ISBN: <br/>
        ISBN: <input type="text" ng-model="isbnNumber"/>
        <button type="submit" ng-click="addFromIsbn()">Add</button>
    </div>

</div>