    <ul class="nav navbar-nav navbar-right">
        <li>
            @if (Request.IsAuthenticated)
            {
                <text>
                    Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: new {area = ""}, htmlAttributes: new {title = "Manage"})
                    @using (Html.BeginForm("LogOff", "Account", new {area = ""}, FormMethod.Post, new {id = "logoutForm"}))
                    {
                        @Html.AntiForgeryToken()
                        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                    }
                </text>
            }
            else
            {
                <a href="./home/signin">Sign In</a>

            }        </li>
    </ul>
