<div ng-controller="searchBooksController">
    <h3>Look for Books</h3>
    <div ng-if="searchResults">
        <h4>Search Results</h4>
        <div ng-repeat="result in searchResults">
            {{result.title}} by {{result.author}} in {{result.libraryName}} <img src="{{result.libraryPicture}}"/>
        </div>

    </div>
    <br />
    <div>
        Search term: <input type="text" ng-model="searchTerm" />
        <button type="submit" ng-click="search(searchTerm)">Search Books</button>
    </div>
</div>
